.container{
    width: 98%;
    margin: 0 auto;
}
.oneBlock{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
p{
    display: inline-block;
    padding: 10px;
}
.time{
    position: absolute;
    display: block;
    font-size: 9px;
    bottom: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
}
#inp-text{
    width: 550px;
    height: 200px;
    resize: none;
}
.auth{
    display: block;
    margin: 0;
    padding-bottom: 0;
    font-size: 35px;
    color: #cccccc;

}
.post{
    margin: 10px 0;
    font-size: 16px;
}
.second-div{
    padding: 20px 0;
}
#author{
    width: 180px;
    margin-left: 20px;
    margin-bottom: 20px;
}
#addPost{
    margin-top: 20px;
    height: 30px;
    width: 88px;
}
.main-div{
    width: 100%;
    border: 1px solid black;
}
.emptytrue{
    background-color: lavenderblush;
}
.main-img{
    width: 29%;
}
.right{
    position: relative;
    width: 100%;
}